<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="language" content="en"/>
    <link rel="icon" href="http://www.ipol.im/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="http://www.ipol.im/favicon.png" type="image/png"/>
    <link rel="stylesheet" href="http://www.ipol.im/style.css" type="text/css"/>
    <link rel="stylesheet" href="http://www.ipol.im/local.css" type="text/css"/>
    <link rel="stylesheet" href="http://www.ipol.im/demo.css" type="text/css"/>
    <link rel="stylesheet" href="input/style/openseadragon.css" type="text/css"/>
    <script src="input/js/openseadragon/openseadragon.js"></script>
    <script src="input/js/jquery/jquery-1.11.3.js"></script>
    <title>IPOL: ${app.title}</title>
  </head>

<body>
  <div id="main" class="demo">
    <div id="pagetitle"> ${app.title}</div>
    <%include file="xlinks.html"/>
    <div id="content">
<p>
Explore the image with zoom (mouse wheel, or click / shift+click) and pan (drag
with left click or keyboard arrows). Select a crop by dragging with the right
click. The crops with the original 12-bit depth (stored as uint16 tiffs) can be
downloaded to be further examined with a viewer that allows to explore the
dynamic range interactively, such as <a href="https://github.com/gfacciol/pvflip">pvflip</a>.
</p><p>
Current crop coordinates (size is limited to 2000 x 2000 pixels) x, y, w, h:
<span id="Info">----</span>
</p><p>
<!--Note that the images are not registered, thus there is a displacement of the
order of 100 pixels when you flip between images.<br>-->

<form style="display:inline;" action="${app.base_url + 'browser_error'}" method="get" name="theform">
    <input type="hidden" id="roi_x" name="x" value="0"/>
    <input type="hidden" id="roi_y" name="y" value="0"/>
    <input type="hidden" id="roi_w" name="w" value="0"/>
    <input type="hidden" id="roi_h" name="h" value="0"/>
    <input type="hidden" name="key" value="${app.key}">
    <input type="hidden" id="img_index" name="i" value="1"/>
    <input type="submit" style="height:20px; width:50px" value="crop" name="action"
         onClick="return checkROI('${app.base_url + 'run'}');"/>
    <input type="checkbox" name="crop_whole_sequence" value="True"/> all the images of the sequence
</form>
</p>

<span><span>brightness</span><input type="range" oninput="set('brightness', this.valueAsNumber);" value="2" step="0.1" min="0.01" max="5"></span>
<span><span>contrast</span><input type="range" oninput="set('contrast', this.valueAsNumber);" value="1" step="0.1" min="0.01" max="3"></span>

<div id="toolbarDiv" class="toolbar" style="position: relative;">
    <div style='float:right;margin:10px 20px 0 0'>
        | <a id="zoom-in" href="#zoom-in">Zoom In</a>
        | <a id="zoom-out" href="#zoom-out">Zoom Out</a>
        | <a id="zoom-one" href="#zoom-one">Zoom 1</a>
        | <a id="home" href="#home">Home</a>
        | <a id="full-page" href="#full-page">Full Page</a>
    </div>
    <div style='float:left;margin:10px 0 0 20px'>
    &lt;&nbsp;
        <a id="previous" href="#previous-page">Previous</a>
        | <a id="next" href="#next-page">Next</a>
        &nbsp;&gt;
        <span id='currentpage'> 1 of ${len(list_of_paths_to_dzi_files)}</span>
    </div>
    <div style='float:right;margin:10px 10px 0 0'>
        <span id='currentzoom'>current zoom: 1&nbsp;</span>
    </div>
</div>
<br>
<br>

<div id="image-display" class="openseadragon">
<!--Dont close this div here, it prevents the ROI to be drawn in fullscreen mode -->

<script type="text/javascript">

    // Prevent the backspace key from navigating back.
    // http://stackoverflow.com/questions/1495219/how-can-i-prevent-the-backspace-key-from-navigating-back
    $(document).unbind('keydown').bind('keydown', function (event) {
        var doPrevent = false;
        if (event.keyCode === 8) {
            var d = event.srcElement || event.target;
            if ((d.tagName.toUpperCase() === 'INPUT' &&
                 (
                     d.type.toUpperCase() === 'TEXT' ||
                     d.type.toUpperCase() === 'PASSWORD' ||
                     d.type.toUpperCase() === 'FILE' ||
                     d.type.toUpperCase() === 'EMAIL' ||
                     d.type.toUpperCase() === 'SEARCH' ||
                     d.type.toUpperCase() === 'DATE' )
                 ) ||
                 d.tagName.toUpperCase() === 'TEXTAREA') {
                doPrevent = d.readOnly || d.disabled;
            }
            else {
                doPrevent = true;
            }
        }

        if (doPrevent) {
            event.preventDefault();
        }
    });

    // function for setting the zoom level to 1
    window.onload = function() {
      var a = document.getElementById("zoom-one");
      a.onclick = function() {
          viewer.viewport.zoomTo(viewer.viewport.imageToViewportZoom(1), null, true);
          viewer.viewport.applyConstraints();
          document.getElementById('image-display').querySelector('.openseadragon-canvas').focus();
          return false;
      }
    }

    function checkROI(url) {
        if (!roiSelected) {
            alert("You need to select a crop!")
        } else {
           document.theform.action = url;
        }
        return roiSelected
    }
    // canvas
    OpenSeadragon.setString("Tooltips.PreviousPage","(Backspace)");
    OpenSeadragon.setString("Tooltips.NextPage","(Space bar)");
    OpenSeadragon.setString("Tooltips.Home","Reset view");
    OpenSeadragon.setString("Tooltips.ZoomIn","(mouse wheel up)");
    OpenSeadragon.setString("Tooltips.ZoomOut","(mouse wheel down)");
    var viewer = OpenSeadragon({
        id: "image-display",
        tileSources: ${list_of_paths_to_dzi_files},
        sequenceMode: true,
        preserveViewport: true,
        preserveOverlays: true,
        showNavigator: true,
        //navigatorId:   "navigatorDiv",
        gestureSettingsMouse: {flickEnabled: true, flickMomentum: 0.0, clickToZoom: true},
        viewport: {zoomSpring: {animationTime: 0.0}, centerSpringX: {animationTime: 0.0}, centerSpringY: {animationTime: 0.0}},
        //toolbar: "toolbarDiv",
        zoomInButton: "zoom-in",
        zoomOutButton:  "zoom-out",
        homeButton:     "home",
        fullPageButton: "full-page",
        nextButton:     "next",
        previousButton: "previous",
        navPrevNextWrap: "true",
        // The higher the minPixelRatio, the lower the quality of the image
        // that is considered sufficient to stop rendering a given zoom level. For
        // example, if you are targeting mobile devices with less bandwith you may
        // try setting this to 1.5 or higher.
        minPixelRatio: 0.5,
        immediateRender: "true",
        maxZoomPixelRatio: 5  // max zoom-in level. default is 1.1
    });

    // disable context menu with right click on top of OpenSeaDragon container
    // https://github.com/sul-dlss/sul-embed/issues/232
    $('body').on('contextmenu', '.openseadragon-container', function() {return false;});

    // enable keyboard navigation
    document.getElementById('image-display').querySelector('.openseadragon-canvas').focus();

    // max ROI dimensions, in pixels
    var MAX_W = 2000;
    var MAX_H = 2000;

    // first right-click coordinates in viewport and image space
    var viewportClick = new OpenSeadragon.Point(0., 0.);
    var imageClick = new OpenSeadragon.Point(0., 0.);

    // ROI coordinates in viewport and image space, updated by events
    // 'Free' version are to handle the red rectangle that follows the mouse
    var viewportRoi = new OpenSeadragon.Rect(0., 0., 0., 0.);
    var imageRoi = new OpenSeadragon.Rect(0., 0., 0., 0.);
    var viewportRoiFree = new OpenSeadragon.Rect(0., 0., 0., 0.);
    var imageRoiFree = new OpenSeadragon.Rect(0., 0., 0., 0.);

    // global variables changed by events
    var fullScreen = false;
    var canvasPress = false;
    var roiSelected = false;
    var currentImage = 0;

    // to know if we are currently fullscreen
    viewer.addHandler("pre-full-page", function (data) {
        fullScreen = !fullScreen;
        //console.log('entering/leaving fullpage')
    });

    // print the image index in the stereo sequence
    viewer.addHandler("page", function (data) {
        document.getElementById("currentpage").innerHTML = ( data.page + 1 ) + " of ${len(list_of_paths_to_dzi_files)}";
        document.getElementById("img_index").value = data.page;
    });

    // print the current zoom level
    viewer.addHandler("zoom", function (data) {
        if (!fullScreen) {
            document.getElementById("currentzoom").innerHTML = "current zoom: " + viewer.viewport.viewportToImageZoom(viewer.viewport.getZoom()).toFixed(2) + "&nbsp;";
        }
    });



    // wire the press event: recover coordinates on right click
    // http://openseadragon.github.io/examples/viewport-coordinates
    viewer.addHandler("canvas-nonprimary-press", function(e) {
        viewportClick = viewer.viewport.pointFromPixel(e.position);
        imageClick = viewer.viewport.viewportToImageCoordinates(viewportClick);
	    canvasPress = true;
        tracker.setTracking(true);

	    viewer.removeOverlay("roi-selection-free");
	    viewer.removeOverlay("roi-selection-constrained");
        var elt = document.createElement("div");
        elt.id = "roi-selection-free";
        elt.className = "highlight-during-selection-red";
        viewer.addOverlay({
            element: elt,
            location: new OpenSeadragon.Rect(0., 0., 0., 0.)
        });
        var elt = document.createElement("div");
        elt.id = "roi-selection-constrained";
        elt.className = "highlight-during-selection-blue";
        viewer.addOverlay({
            element: elt,
            location: new OpenSeadragon.Rect(0., 0., 0., 0.)
        });
    });

    viewer.addHandler("canvas-nonprimary-release", function(e) {
        canvasPress = false;
        tracker.setTracking(false);
        roiSelected = true;
        document.getElementById("roi-selection-constrained").className = "highlight-blue";
        document.getElementById("roi-selection-free").className = "highlight-red";

        // pass roi coordinates to the GET form, for the crop
        if (!fullScreen) {
            document.getElementById("roi_x").value = imageRoi.x.toFixed(0);
            document.getElementById("roi_y").value = imageRoi.y.toFixed(0);
            document.getElementById("roi_w").value = imageRoi.width.toFixed(0);
            document.getElementById("roi_h").value = imageRoi.height.toFixed(0);
        }
    });

    // recover coordinates in real time thanks to object OpenSeaDragon MouseTracker object
    // http://openseadragon.github.io/examples/viewport-coordinates
    var tracker = new OpenSeadragon.MouseTracker({
        element: viewer.container,
        moveHandler: function(event) {
            var viewportPoint = viewer.viewport.pointFromPixel(event.position);
            var imagePoint = viewer.viewport.viewportToImageCoordinates(viewportPoint);
            imageRoi.x = Math.min(imagePoint.x, imageClick.x);
            imageRoi.y = Math.min(imagePoint.y, imageClick.y);
            imageRoi.width  = Math.abs(imagePoint.x - imageClick.x);
            imageRoi.height = Math.abs(imagePoint.y - imageClick.y);

            // free roi that follows the mouse
            imageRoiFree.x = imageRoi.x
            imageRoiFree.y = imageRoi.y
            imageRoiFree.width = imageRoi.width
            imageRoiFree.height = imageRoi.height

            // roi clipping
            if (imageRoi.width > MAX_W) {
                imageRoi.width = MAX_W;
                if (imagePoint.x < imageClick.x) {
                    imageRoi.x = imageClick.x - MAX_W;
                }
            }
            if (imageRoi.height > MAX_H) {
                imageRoi.height = MAX_H;
                if (imagePoint.y < imageClick.y) {
                    imageRoi.y = imageClick.y - MAX_H;
                }
            }
            viewportRoi = viewer.viewport.imageToViewportRectangle(imageRoi);
            viewportRoiFree = viewer.viewport.imageToViewportRectangle(imageRoiFree);
            //console.log(viewportRoi);
            // var zoom = viewer.viewport.getZoom(true);
            // var imageZoom = viewer.viewport.viewportToImageZoom(zoom);

            // HACK! should be done by notifying some other thing
	        if(canvasPress) {
                viewer.updateOverlay("roi-selection-free", viewportRoiFree)
                viewer.updateOverlay("roi-selection-constrained", viewportRoi)
                if (!fullScreen) {
                    document.getElementById("Info").innerHTML =
                        imageRoi.x.toFixed(0).concat(", ",
                                imageRoi.y.toFixed(0), ", ",
                                imageRoi.width.toFixed(0), ", ",
                                imageRoi.height.toFixed(0));
                    //document.getElementById("Info").innerHTML = imageRoi.toString();
                }
	        }
        }
    });

// brightness and contrast change: copied from
// http://html5-demos.appspot.com/static/css/filters/index.html
var FILTER_VALS = {};
var el = document.getElementById('image-display').querySelector('.openseadragon-canvas');

function set(filter, value) {
    FILTER_VALS[filter] = typeof value == 'number' ? Math.round(value * 10) / 10 : value;
    if (value == 0 || (typeof value == 'string' && value.indexOf('0') == 0)) {
        delete FILTER_VALS[filter];
    }
    render();
}

function render() {
    var vals = [];
    Object.keys(FILTER_VALS).sort().forEach(function(key, i) {
            vals.push(key + '(' + FILTER_VALS[key] + ')');
            });
    var val = vals.join(' ');
    el.style.webkitFilter = val;
}
</script>

</div> <!-- image-display -->
</div> <!-- content -->
</div> <!-- main -->
