<body onload=draw_previous_points()>

<script type="text/javascript">
// Popup window code
function Popup(url) {
        popupWindow = window.open(url,'help','height=400,width=800,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,status=no')
    }
</script>

<script type="text/javascript"
    src="http://demo.ipol.im/demo/js/createlinkedslider.js">
</script>

<%def name="textareaAuto(name,defaultvalue,tagproperties='')">
   <%
   if name in app.cfg['param'] and app.cfg['param'][name] !='':
      value = app.cfg['param'][name]
   else:
      value = defaultvalue
   endif
   %>
   <input type="text" ${tagproperties} id="${name}" name="${name}" value="${value}"  />
</%def>

<%def name="radioAuto(name,value,text,defaultchecked=0)">
   <%
   # GENERATE A LIST OF NAMES
   if name in app.cfg['param']:
      if app.cfg['param'][name]!='' and type(app.cfg['param'][name]) == str and app.cfg['param'][name][0] == '[':
         cklist = eval(app.cfg['param'][name])
      else:
         cklist=[ app.cfg['param'][name] ]
         if app.cfg['param'][name] !='':
             cklist = [ app.cfg['param'][name] ]
         else:
             cklist = []
         endif
      endif
   else:
      cklist = []
   endif
   %>

   <input type="radio" name=${name} value="${value}"
   %if value in cklist:
      checked
   %else:
      %if cklist==[] and defaultchecked==1:
         checked
      %endif
   %endif
   /><label>${text}</label>
</%def>

<%
  width  = 400
  height = 400
%>

<form name="theform" action="${app.base_url + 'browser_error'}" method="post">
  <input type="hidden" name="key" value="${app.key}">
  <input type="hidden" name="points_x" value="" id="points_x">
  <input type="hidden" name="points_y" value="" id="points_y">

  <div style="float:left; width:100%;">
      <fieldset style="padding-top:0.0ex">
          <legend style="font-weight:bold;">Pushbroom camera parameters</legend>
          <div style="float:left; width:150px;">
              ${radioAuto('camera_type', 'pleiades', 'Pleiades', 1)}<br>
              ${radioAuto('camera_type', 'wv1','WorldView-1')}<br>
              ${radioAuto('camera_type', 'wv2','WorldView-2')}<br>
              ${radioAuto('camera_type', 'wv3','WorldView-3')}<br>
          </div>

          <div style="float:left; width:230px;">
              Initial pointing angles (deg):<br>
              <span style="float:left; margin-left:5px">
                  &Psi;<sub>x</sub> &nbsp; ${textareaAuto('psi_x','0.0', 'size="5"')} roll
              </span>
              <!-- code for slider -->
              <div id="psi_x_slider" name="psi_x_slider" style="width:70px;float:left;margin-top:5px;margin-left:21px;font-size:10pt"></div>
              <script type="text/javascript">
                  // Turn DIV slider into a slider linked to scale
                  $(document).ready(function() {
                      createLinkedSlider('#psi_x', '#psi_x_slider', -20, 20, 1);
                  });
              </script>
              <div style="clear:both"></div>
              <!-- end of code for slider -->
              <span style="float:left; margin-left:5px">
                  &Psi;<sub>y</sub> &nbsp; ${textareaAuto('psi_y','0.0', 'size="5"')} pitch
              </span>
              <!-- code for slider -->
              <div id="psi_y_slider" name="psi_y_slider" style="width:70px;float:left;margin-top:5px;margin-left:10px;font-size:10pt"></div>
              <script type="text/javascript">
                  // Turn DIV slider into a slider linked to scale
                  $(document).ready(function() {
                      createLinkedSlider('#psi_y', '#psi_y_slider', -20, 20, 1);
                  });
              </script>
              <div style="clear:both"></div>
              <!-- end of code for slider -->
          </div>

          <div style="float:left; width:180px;">
              Heading (deg):<br>
              <span style="float:left; margin-left:5px">
                  &gamma; &nbsp; ${textareaAuto('gamma','192', 'size="5"')}
              </span>
              <!-- code for slider -->
              <div id="gamma_slider" name="gamma_slider" style="width:70px;float:left;margin-top:5px;margin-left:10px;font-size:10pt"></div>
              <script type="text/javascript">
                  // Turn DIV slider into a slider linked to scale
                  $(document).ready(function() {
                      createLinkedSlider('#gamma', '#gamma_slider', 162, 222, 2);
                  });
              </script>
              <div style="clear:both"></div>
              <!-- end of code for slider -->
          </div>

          <div style="float:left">
              Attitude perturbations:<br>
              <span style="float:left; margin-left:5px">
                  degree <i>d</i> ${textareaAuto('perturbation_degree','3', 'size="5"')}
              </span>
              <!-- code for slider -->
              <div id="perturbation_degree_slider" name="perturbation_degree_slider" style="width:120px;float:left;margin-top:5px;margin-left:21px;font-size:10pt"></div>
              <script type="text/javascript">
                  // Turn DIV slider into a slider linked to scale
                  $(document).ready(function() {
                      createLinkedSlider('#perturbation_degree', '#perturbation_degree_slider', 0, 3, 1);
                  });
              </script>
              <div style="clear:both"></div>
              <!-- end of code for slider -->
              <span style="float:left; margin-left:5px">
                  amplitude <i>a</i> (&mu;rad) ${textareaAuto('perturbation_amplitude','40', 'size="5"')}
              </span>
              <!-- code for slider -->
              <div id="perturbation_amplitude_slider" name="perturbation_amplitude_slider" style="width:120px;float:left;margin-top:5px;margin-left:21px;font-size:10pt"></div>
              <script type="text/javascript">
                  // Turn DIV slider into a slider linked to scale
                  $(document).ready(function() {
                      createLinkedSlider('#perturbation_amplitude', '#perturbation_amplitude_slider', 0, 100, 1);
                  });
              </script>
              <div style="clear:both"></div>
              <!-- end of code for slider -->
          </div>
      </fieldset>
  </div>

  <p>
    Click on the image domain to add or remove ground control points.
    <input type="button"  value="Add" onclick="add_noise()"> <input type="text"
    id="noise_points" value="10" style="width:20px"> random points.
  </p>


  <!-- DIV CONTAINER TO DRAW POINTS -->
  <div id="canvas_div" onclick="click_point(event)" style = "width:${width}px;
      height:${height}px; border: 1px solid black">
  </div>

  <div style="float:left; width:100%;">
      <fieldset style="padding-top:0.0ex">
          <legend style="font-weight:bold;">Perturbate coordinates</legend>
          <span style="float:left; margin-right:2em">
              Add zero-mean Gaussian random variables to the image and 3-space
              point coordinates.
          </span><br><span style="float:left; margin-left:1em">
              &sigma;<sub>img</sub> &nbsp; ${textareaAuto('sigma_pixels','0.2', 'size="5"')} pixels
          </span>
          <!-- code for slider -->
          <div id="sigma_pixels_slider" name="sigma_pixels_slider" style="width:150px;float:left;margin-top:5px;margin-left:20px"></div>
          <script type="text/javascript">
              // Turn DIV slider into a slider linked to scale
              $(document).ready(function() {
                  createLinkedSlider('#sigma_pixels', '#sigma_pixels_slider', 0, 2, .1);
              });
          </script>
          <div style="clear:both"></div>
          <!-- end of code for slider -->
          <span style="float:left; margin-left:1em">
              &sigma;<sub>xyz</sub> &nbsp; ${textareaAuto('sigma_meters','0.1', 'size="5"')} meters
          </span>
          <!-- code for slider -->
          <div id="sigma_meters_slider" name="sigma_meters_slider" style="width:150px;float:left;margin-top:5px;margin-left:14px"></div>
          <script type="text/javascript">
              // Turn DIV slider into a slider linked to scale
              $(document).ready(function() {
                  createLinkedSlider('#sigma_meters', '#sigma_meters_slider', 0, 5, .2);
              });
          </script>
          <div style="clear:both"></div>
          <!-- end of code for slider -->
      </fieldset>
  </div>

  <input type="submit" name="action" value="Run the algorithm"
         onClick="return checkPoints('${app.base_url + 'wait'}');" >
</form>

<!-- IMPORT RAPHAEL JAVASCRIPT DRAWING LIBRARY -->
<script language="JavaScript">
  <%include file="raphael.js" />
</script>

<!-- JAVASCRIPT CODE TO MARK POINTS -->
<script language="JavaScript">
  // max width and height
  WIDTH=${width};
  HEIGHT=${height};

  // array containers of lists of point coordinates
  %if prev_points:
    var prev_points=${prev_points};  // fill with previous points
  %else:
    var prev_points=[];
  %endif

  <%include file="draw_points.js" />
</script>
<!-- END JAVASCRIPT -->
