<%include file="header.html" />

<a name="p" href=#p></a>

<p>
You can choose a shear or a tilt parameter to apply an affine transformation to the input image.
</p>

<img src="${app.work_url + 'input_0.png'}" alt="Input">
<br>

<form action="${app.base_url + 'wait'}" method="get">
    <label for="tilt">Tilt:</label>
    <input type="text" name="tilt" value="1" size="4" />
    </br>
     <label for="shear">Shear:</label>
    <input type="text" name="shear" value="0" size="4" />
    </br>
    <input type="hidden" name="key" value="${app.key}">
    <input type="submit" value="Run"/>
</form>

<hr />


<%include file="footer.html" />
