<%include file="header_ipol.html" />

<p>
Select the dataset on which you want to run s2p. If you want to run s2p on your own data, please contact us at
<img class="eq" src="http://dev.ipol.im/~carlo/email.png" alt="email" style="vertical-align: -2.5px" height="16" width="210">
</p>

<%include file="input_form_select.html" />
<!-- <%include file="input_form_upload.html" /> -->

<%include file="precomputed_results.html" />
<%include file="credits_en.html" />
<%include file="logos.html" />
<%include file="footer.html" />
