<%include file="header_ipol.html" />

<h3>Sample Images</h3>
<p>
Select a dataset by clicking on one of the thumbnails below
</p>
<%include file="input_form_select.html" />

<h3>Try s2p on your Data</h3>
<p>
Run s2p on you own data! You can upload two images (tif format only) and their
associated RPC coefficients (Pléiades, WorldView or Ikonos formats) using the
form below. Full images are too large for upload? Use our one-click <a
    href="https://bitbucket.org/carlodef/rpc_cropper/get/master.zip">rpc_cropper</a>
tool to select a crop in your stereo sequence, then upload the cropped images.

</p>
<%include file="input_form_upload.html" />

##<%include file="precomputed_results.html" />
<%include file="credits_en.html" />
<%include file="logos.html" />
<%include file="footer.html" />
