<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8">-->
        <!--<meta http-equiv="REFRESH" content="0;url=http://dev.ipol.im/~carlo/ipol_demo/large_images">-->
        <meta http-equiv="REFRESH" content="0;url=http://lime.ovh.hw.ipol.im/large_images">
        <title>Catalogue of Pléiades images</title>
    </head>
    <body>
        <a href="http://lime.ovh.hw.ipol.im/large_images">click here</a>
    </body>
</html>
