<%include file="header.html" />

<form action="${app.base_url + 'crop'}" method="get">
    <input type="hidden" name="key" value="${app.key}" />    

   	%if corners==0:
    <p>
    Please select a subimage by clicking on two 
      opposite corners of the desired subimage in the first image.
    </p>
    <input type="image" style="cursor:crosshair;" name=""
              src="${app.work_url + 'left_image.png'}" />
	<img src="${app.work_url + 'right_image.png'}" alt="" />
   	<p>
   	You can also use the whole images as input:
    <input type="submit" name="action" value="Use the whole images" />
   	</p>
   	
   	
   	%elif corners==1:
    <p>
    Please select the second corner of the subimage:
    </p>
    <input type="image" style="cursor:crosshair;" name=""
              src="${app.work_url + 'left_image_corner.png'}" />
	<img src="${app.work_url + 'right_image.png'}" alt="" />
   	
   	%elif corners==2:
    <p>
    Please select a subimage in the second image, by clicking on the top
	left corner of the desired patch. This position will have its ordinate modified in order to
	to be on the epipolar line:
	</p>
    <img src="${app.work_url + 'left_image_selection.png'}" alt="" />
    <input type="image" style="cursor:crosshair;" name=""
              src="${app.work_url + 'right_image.png'}" />
      	
   	%elif corners==3:
    <p>
    The algorithm will run on the two selected subimages:</p>
    <img src="${app.work_url + 'left_image_selection.png'}" alt="" />
    <img src="${app.work_url + 'right_image_selection.png'}" alt="" />
	<p>
	Choose the parameters: 
	<input type="submit" name="action" value="Set Parameters" />
	<p/>
	
	%else:
	<p>
	AAAH there is a bug !!
	</p>   

    %endif
</form>


<%include file="footer.html" />
