<%include file="header.html" />

<%
    max_size = max(sizeY,2*30)
%>
<p>
The block-matching algorithm will run on the two images shown below:
</p>
<div class="gallery" style="height:${max_size}px;">
    <ul class="index">

     <li>
      <a href="#">
	Left
	<span>
	  <table><tr><td style="vertical-align:top;">
	  <img src="${app.work_url + 'left_image.png'}" alt="" />
	  </td></tr></table>
	</span>
      </a>
     </li>

     <li>
      <a href="#">
	Right
	<span>
	  <table><tr><td style="vertical-align:top;">
	  <img src="${app.work_url + 'right_image.png'}" alt="" />
	  </td></tr></table>
	</span>
      </a>
     </li>
    </ul>
</div>

<p>
Angulo will now run the block-matching on several pairs, where the right image is deformed with
different tilt and shear values. You can choose the range and the number of 
quantized values for each one of the parameters (shear and tilt).<br>
</p>
<br>
<p>
Choose an affine deformation range
</p>
<form action="${app.base_url + 'wait'}" method="get">
    <input type="hidden" name="key" value="${app.key}">
    
    <label for="shear_min">Horizontal shear range: [</label>
    <input type="text" name="shear_min" value="${str(app.cfg['param']['shear_min'])}" size="4" />
    <label for="shear_max"> , </label>
    <input type="text" name="shear_max" value="${str(app.cfg['param']['shear_max'])}" size="4" />
	], with 
    
    <label for="shear_nb"></label>
    <input type="text" name="shear_nb" value="${str(app.cfg['param']['shear_nb'])}" size="4" />
    quantized values.
    </br>
    
    <label for="tilt_min">Horizontal tilt range: [</label>
    <input type="text" name="tilt_min" value="${str(app.cfg['param']['tilt_min'])}" size="4" />
    <label for="tilt_max"> , </label>
    <input type="text" name="tilt_max" value="${str(app.cfg['param']['tilt_max'])}" size="4" />
	], with
    
    <label for="tilt_nb"></label>
    <input type="text" name="tilt_nb" value="${str(app.cfg['param']['tilt_nb'])}" size="4" />
    quantized values.
    </br>
    
    <label for="windowsize">Window size:</label>
    <input type="text" name="windowsize" value="${str(app.cfg['param']['windowsize'])}" size="4" />
    </br>
	
	<label for="min_disparity">Disparity range: [</label>
    <input type="text" name="min_disparity" value="${str(app.cfg['param']['min_disparity'])}" size="4" />
    <label for="max_disparity"> , </label>
    <input type="text" name="max_disparity" value="${str(app.cfg['param']['max_disparity'])}" size="4" />
	] pixels
	</br>
	
	<label for="subpixel">Subpixel:</label>
	<input type="radio" name="subpixel" value="1" checked >1 &nbsp;
	<input type="radio" name="subpixel" value="2">&frac12;&nbsp;
	<input type="radio" name="subpixel" value="4">&frac14;&nbsp;
	<input type="radio" name="subpixel" value="8">&frac18;&nbsp;
    </br>
	<p><input type="submit" value="Run" /></p>
</form>
<br>
<p>


<%include file="footer.html" />