<%include file="header_ipol.html" />

<p>
  Choose the size of the region of interest (ROI) you want to process, then
  click on a point of the preview below to choose the center of the ROI.
</p>

<form action="${app.base_url + 'wait'}" method="get">
  <div class="action">
    <input type="hidden" name="key" value="${app.key}">
    <label for="roi_size">ROI size:</label>
    <input type="text" name="roi_size" value="500" size="4" /><br>
    <label for="zoom">subsampling factor:</label>
    <input type="text" name="zoom" value="1" size="4" />
    <input type="image"  name="" style="cursor:crosshair;" src="${app.work_url + 'input_0.png'}" alt="input_0">
    <!--    <input type="submit" value="run" /> -->
  </div>
</form>

<hr />

<%include file="credits_en.html" />
<%include file="logos.html" />
<%include file="footer.html" />
